<!DOCTYPE html >
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Accueil - OC Plateforme</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>

    <body>
    <div class="container">
        <div id="header" class="jumbotron">
            <h2>Page d'accueil de mon site ... wouhou</h2>
            <p>
                Ce projet est propulsé par Symfony, et créé grâce au tutoriel de openclassroom
            </p>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="padding-bottom: 2%" >
                {% for message in app.session.flashbag.get('info') %}
                    <p class="btn btn-md btn-info">Message flash : {{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="padding-bottom: 5%">
                    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                        Pour aller sur le site d'annonces c'est par ici
                    </a>
                </p>

                <h4>Les dernières annonces parues</h4>
                {{ render (controller("OCPlatformBundle:Advert:menu", {'limit':3})) }}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center" style="padding-top: 5% ">
                        <a href="{{ path('oc_core_contact') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            Pour me contacter c'est par ici
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <p class="col-md-12 text-center">The sky's the limit {{ 'now' |date('Y') }} and beyond.</p>
            </div>
        </footer>
    </div>
    </body>
</html>